{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<div class="static-page">
    <h2 id="about">About</h2>
    <p>
        The Wait Wait Don't Tell Me! Playing Cards Gallery puts on display a
        number of <a href="https://waitwait.npr.org/" target="_blank">Wait Wait...
        Don't Tell Me! <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>
        playing cards that had been distributed either as a gift during public
        radio station donation drives or as prizes for listener contestants very
        early on in the show's run.
    </p>

    <p>
        The gallery is part of the larger Wait Wait Stats Project that includes
        the <a href="{{ settings.stats_url }}" target="_blank">Wait Wait Stats Page
        <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>,
        <a href="{{ settings.api_url }}" target="_blank">Wait Wait Stats API
        <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>,
        and other projects.
    </p>

    <h3>Scanning Process</h3>
    <p>
        All of the playing cards were batch scanned using an HP Color LaserJet
        MFP M277 multi-function device at 1200 DPI (dots per inch) as PNG files
        with the RGB color profile. Some of the first batches of scans were on
        using the GNOME Document Scanner program on a laptop running Fedora
        Workstation 44 while the rest were scanned using Adobe Photoshop running
        on an Apple M1 Max MacBook Pro.
    </p>

    <p>
        All of the scanned images were converted to the sRGB color profile in
        Adobe Photoshop and individual cards cropped and, if necessary, rotated
        before going through a dust removal process.
    </p>

    <p>
        The dust removal process only involved removing dust, lint or other
        detritus that was on the scanning bed and did not remove any blemishes,
        aging, or other imperfections on the cards as I received them. I used the
        Spot Healing Brush in Content-Aware mode with the smallest brush size
        needed in order to minimize the impact of the dust removal.
    </p>

    <p>
        A border is added to pad out the original scanned image to make the
        resulting image size consistent while not altering the size and scale of
        the card itself. This was also done to create a uniform scaled size for
        all cards for use in this gallery.
    </p>

    <h3>Full Quality Card Scans</h3>

    <p>
        The original, full quality card scans used to generate the images
        included have been uploaded to both Flickr
        and the Internet Archive under the terms of a
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative
        Commons Attribution-NonCommercial-ShareAlike 4.0 International license
        <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i>
        </a>.
    </p>

    <ul>
        <li>
            <a href="https://www.flickr.com/photos/questionlp/albums/72177720334840763" target="_blank">
            Flickr <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://archive.org/details/wait-wait-dont-tell-me-playing-cards" target="_blank">
            Internet Archive <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>
        </li>
    </ul>

    <h3>Disclaimer</h3>
    <p>
        I am not an employee of or associated with NPR, Chicago Public Radio
        (WBEZ), or Urgent Haircut Productions.
    </p>

    <h3>Source Code</h3>
    <p>
        The source code for this site is distributed under the terms of the
        <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache
        License 2.0 <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>
        and is available on
        <a href="{{ settings.repo_url }}" target="_blank">Codeberg
        <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>.
    </p>

    <p>
        The scanned images included in this site are distributed under a
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative
        Commons Attribution-NonCommercial-ShareAlike 4.0 International license
        <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i>
        </a>.
    </p>

    <p>
        The front-end toolkit and icons, Bootstrap and Bootstrap Icons, are
        distributed under the terms of the
        <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank">MIT
        License <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>
        (<a href="https://github.com/twbs/icons/blob/main/LICENSE" target="_blank">Bootstrap
        Icons <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>).
    </p>
    
    <p>
        The theme used for the Wait Wait Stats Project is also distributed under
        the terms of the
        <a href="https://codeberg.org/qlp/wwdtm-theme/src/branch/main/LICENSE" target="_blank">MIT
        License <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>.
        Previous versions of the theme were licensed under the terms of the
        <a href="https://codeberg.org/qlp/wwdtm-theme/src/branch/main/LICENSE-APACHE" target="_blank">Apache
        License 2.0 <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>.
    </p>

    {% if settings.github_sponsor_url %}
    <h3>Support the Wait Wait Stats Project</h3>

    <p>
        If you would like to help support the Wait Wait Stats Project, including
        improvements, new features, or help cover the host of hosting and maintaining
        the Wait Wait Stats applications, consider supporting me on
        <a href="{{ settings.github_sponsor_url }}" target="_blank">GitHub
        <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>.
    </p>
    {% endif %}

    <h3>Contact Me</h3>
    <p>
        If you would like to reach out and contact me via the following means:
    <p>

    <ul>
        <li>
            Website/Blog: <a href="https://linhpham.org/" target="_blank">linhpham.org
            <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>
        </li>
        {% if settings.mastodon_url and settings.mastodon_user %}
        <li>
            Mastodon: <a rel="me" href="{{ settings.mastodon_url }}" target="_blank">{{ settings.mastodon_user }}
            <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>
        </li>
        {% endif %}
        {% if settings.bluesky_url and settings.bluesky_user %}
        <li>
            Bluesky: <a href="{{ settings.bluesky_url }}" target="_blank">{{ settings.bluesky_user }}
            <i class="bi bi-box-arrow-up-right px-1" aria-hidden="true"></i></a>
        </li>
        {% endif %}
        <li>
            E-mail: <a href="mailto:dev@wwdt.me">dev@wwdt.me
            <i class="bi bi-envelope px-1" aria-hidden="true"></i></a>
        </li>
    </ul>

</div>
{% endblock %}
